{{#threads}}
    <div class="row sub-postrow">
        <div class="col-9 sub-threadname"><a href="/thread/{{threadId}}">{{threadName}}</a></div>
        <div class="col-3 sub-threadposts">{{threadPosts}} replies (WIP)</div>
    </div>
{{/threads}}

<div class="row">
    <div class="col">
        <a href="/addthread/{{subId}}" class="btn btn-warning float-right" role="button">New Thread</a>
    </div>
</div>